@reference "tailwindcss";

.linear-loader {
  @apply relative bg-gray-700 rounded-full w-full h-2 overflow-hidden;

  & .inner {
    @apply top-0 left-0 absolute bg-blue-300 rounded-full h-full;
  }

  & > :is(.idtm-1, .idtm-2) {
    @apply top-0 left-0 absolute w-full h-full;

    & > .inner {
      @apply w-full;
    }
  }
  & > .idtm-1 {
    inset-inline-start: -145%;
    animation: ll-idtm-1-t 2s infinite linear;

    & > .inner {
      animation: ll-idtm-1-s 2s infinite linear;
    }
  }
  & > .idtm-2 {
    inset-inline-start: -55%;
    animation: ll-idtm-2-t 2s infinite linear;

    & > .inner {
      animation: ll-idtm-2-s 2s infinite linear;
    }
  }
}

@keyframes ll-idtm-1-t {
  0% {
    transform: translateX(0px);
  }

  20% {
    animation-timing-function: cubic-bezier(0.5, 0, 0.7, 0.5);
    transform: translateX(0px);
  }

  59.15% {
    animation-timing-function: cubic-bezier(0.3, 0.38, 0.55, 0.96);
    transform: translateX(84%);
  }

  100% {
    transform: translateX(200%);
  }
}

@keyframes ll-idtm-2-t {
  0% {
    animation-timing-function: cubic-bezier(0.15, 0, 0.52, 0.41);
    transform: translateX(0px);
  }

  25% {
    animation-timing-function: cubic-bezier(0.31, 0.28, 0.8, 0.73);
    transform: translateX(38%);
  }

  48.35% {
    animation-timing-function: cubic-bezier(0.4, 0.63, 0.6, 0.9);
    transform: translateX(84%);
  }

  100% {
    transform: translateX(160%);
  }
}

@keyframes ll-idtm-1-s {
  0% {
    transform: scaleX(0.08);
  }

  36.65% {
    animation-timing-function: cubic-bezier(0.33, 0.12, 0.79, 1);
    transform: scaleX(0.08);
  }

  69.15% {
    animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    transform: scaleX(0.661479);
  }

  100% {
    transform: scaleX(0.08);
  }
}

@keyframes ll-idtm-2-s {
  0% {
    animation-timing-function: cubic-bezier(0.2, 0.06, 0.5766, 0.45);
    transform: scaleX(0.08);
  }

  19.15% {
    animation-timing-function: cubic-bezier(0.1523, 0.1964, 0.6484, 1);
    transform: scaleX(0.457104);
  }

  44.15% {
    animation-timing-function: cubic-bezier(
      0.257759,
      -0.003163,
      0.211762,
      1.38179
    );
    transform: scaleX(0.72796);
  }

  100% {
    transform: scaleX(0.08);
  }
}
